.gitignore
*.core
core
Build
blib
*.bak
*_wrap\.*
\.*sw?
_build
tmp*
pod2htm*
Makefile
*.data
foo*
tags
.DS_Store
xs/*_wrap.c
swig/system.i
.prove
MYMETA.yml
META.yml
Makefile.PL
Math-MatrixReal-*.gz
cover_db/*
META.json
MYMETA.json
